<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
        h1 {
            font-family: "New Amsterdam", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            margin-top: 40vh;
        }
        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>{{.StatusCode}} - {{.Title}}</h1>
    <p>{{.Message}}</p>
</body>

</html>